/* 
=================
    LAYOUT GRID
=================
*/
.container {  display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.3fr 2fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Navigation-Bar Navigation-Bar Navigation-Bar"
      "List-Content Main-Content Side-Bar"
      "Footer Footer Footer";
  }
  
  .Navigation-Bar { grid-area: Navigation-Bar; }
  
  .Main-Content { grid-area: Main-Content; }
  
  .Footer { grid-area: Footer; }
  
  .List-Content { grid-area: List-Content; }
  
  .Side-Bar { grid-area: Side-Bar; }

/*
=================
    UTILITY
=================
*/
* {
    box-sizing: content-box;
}

html {
    /* width: auto; */
    padding: 0;
    margin: 0;
}

body{
    /* overflow: hidden;  */
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    /* Turn of the scrollbar */
    display: none;
}

/*
==================================
NAVIGATION BAR - FULL SCREEN
==================================
*/
.NavBar{
    display: block;
    width: 100%;
    height: auto;
    background-color: sandybrown;
}

    /* UPPER NAV */
    .upper-nav {
        height: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #37312f;
        padding: 1.5em 20vw;
        gap: 8px;
    }


        /* LIST ITEM */
        .upper-nav ul {
            display: flex;
            gap: 16px;
        }

        .upper-nav ul a {
            display: flex;
            gap: 6px;
            align-items: center;
            justify-content: center;
            color: white;
            padding: 1em;
            font-weight: 800;
            font-size: 20px;
        }

        /* LIST ITEM HOVER */
        .upper-nav ul a:hover {
            background-color: orange;
            color: black;
            border-radius: 6px;
            transition: 0.2s ease;
            
        }

        


    /* UNDER NAV */
    .under-nav {
        height: 4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 10vw;
        /* gap: 2em; */
        /* padding-right: 40vw; */
    }


        /* CONTAINER */
        .NavBar .under-nav {
            /* margin-left: auto; */
            display: flex;
            justify-content: center;
            flex: 1 0 350px;
        }

            /* LIST ITEM */
            .NavBar .under-nav ul {
                display: flex;
                gap: 24px;
                align-items: center;

            }

            .NavBar .under-nav ul a {
                display: flex;
                gap: 4px;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                padding: 1em;
            }

            /* LIST ITEM HOVER */
            .NavBar .under-nav ul a:hover {
                transition: 0.2s ease;
                background-color: white;
                border-radius: 6px;
                color: orange;
            }

/*
==================================
NAVIGATION BAR - TABLET
==================================
*/
@media only screen and (max-width: 768px) {
    /* NAVBAR */
    .NavBar .container {
        justify-content: center;
        align-items: center;
        /* display: none; */
    }
    
    /* UNDER NAV */
    .under-nav {
        padding: 0;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: orange;
    }

    /* UPPER NAV */
    .upper-nav {
        justify-content: center;
        padding: 1.5em 4vw;
    }
}

@media only screen and (max-width: 900px) {
    /* UNDER NAV */
    .NavBar .upper-nav ul a {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        padding: 0.5em;
    }
}