<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/AboutUs_PageCSS.css">
    <script src="/scripts/AboutUsJS.js"></script>
    <style>
       
    </style>
</head>
<body>
    <div id="aboutContent">
        <div id="titleAbout">
            <img src="/assets/images/img_HostAndParticipants/AboutBackGround.png" alt="Background Image">
        </div>
        
        <div id="imgAndInfo">
            <div class="host-container">
                <div class="imgHost">
                    <img class="host-image" src="/assets/images/img_HostAndParticipants/PhuocSang.png" alt="Host1">
                </div>
                <div class="host-info">
                    <h2>HOST & CREATOR</h2>
                    <p id="fistName">Phạm Đặng</p>
                    <p id="lastName">Phước Sang</p>
                </div>
            </div>
            <!-- Add additional hosts as needed -->
            <div class="host-container">
                <div class="imgHost">
                    <img class="host-image" src="/assets/images/img_HostAndParticipants/PhuocSang.png" alt="Host1">
                </div>
                <div class="host-info">
                    <h2>DEVELOPER</h2>
                    <p id="fistName">Phạm Đặng</p>
                    <p id="lastName">Phước Sang</p>
                </div>
            </div>

            <div class="host-container">
                <div class="imgHost">
                    <img class="host-image" src="/assets/images/img_HostAndParticipants/PhuocSang.png" alt="Host1">
                </div>
                <div class="host-info">
                    <h2>DEVELOPER</h2>
                    <p id="fistName">Phạm Đặng</p>
                    <p id="lastName">Phước Sang</p>
                </div>
            </div>

            <div class="host-container">
                <div class="imgHost">
                    <img class="host-image" src="/assets/images/img_HostAndParticipants/PhuocSang.png" alt="Host1">
                </div>
                <div class="host-info">
                    <h2>DEVELOPER</h2>
                    <p id="fistName">Phạm Đặng</p>
                    <p id="lastName">Phước Sang</p>
                </div>
            </div>

            <div class="host-container">
                <div class="imgHost">
                    <img class="host-image" src="/assets/images/img_HostAndParticipants/PhuocSang.png" alt="Host1">
                </div>
                <div class="host-info">
                    <h2>DEVELOPER</h2>
                    <p id="fistName">Phạm Đặng</p>
                    <p id="lastName">Phước Sang</p>
                </div>
            </div>


            <div id="AboutContact">
                <div id="contactInfor">
                    <p>CONTACT</p><p>US</p>
                </div>
            </div>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
