<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/AboutUs_PageCSS.css">
    <style>
       
    </style>
</head>
<body>
    <div id="aboutContent">
        <div id="titleAbout">
            <img src="/assets/images/img_HostAndParticipants/AboutBackGround.png" alt="">     
        </div>

        <div class="Developer">
            <div id="Host1">
                <div id="imgHost1" class="card3d">
                    <img src="/assets/images/img_HostAndParticipants/PhuocSang.png" alt="Host1">
                </div>
                <div id="infoHost1">
                    <h2>HOST & CREATOR</h2>
                    <p id="fistName">Phạm Đặng</p>
                    <p id="lastName">Phước Sang</p>
                </div>
            </div>

            <div id="Host1">
                <div id="imgHost1" class="card3d">
                    <img src="/assets/images/img_HostAndParticipants/Danny.gif" alt="Host1">
                </div>
                <div id="infoHost1">
                    <h2>DEVELOPER</h2>
                    <p id="fistName">Danh</p>
                    <p id="lastName">Tiến</p>
                </div>
            </div>
            <div id="Host1">
                <div id="imgHost1" class="card3d">
                    <img src="/assets/images/img_HostAndParticipants/zeno.jpg" alt="Host1">
                </div>
                <div id="infoHost1">
                    <h2>KOL</h2>
                    <p id="fistName">Zeno</p>
                    <p id="lastName">Nguyen</p>
                </div>
            </div>
            <div id="Host1">
                <div id="imgHost1" class="card3d">
                    <img src="/assets/images/img_HostAndParticipants/PhuocSang.png" alt="Host1">
                </div>
                <div id="infoHost1">
                    <h2>DEVELOPER</h2>
                    <p id="fistName">Phạm Đặng</p>
                    <p id="lastName">Phước Sang</p>
                </div>
            </div>
            <div id="Host1">
                <div id="imgHost1" class="card3d">
                    <img src="/assets/images/Reddead/nhan.jpg" alt="Host1">
                </div>
                <div id="infoHost1">
                    <h2>DEVELOPER</h2>
                    <p id="fistName">Lê Diệp </p>
                    <p id="lastName">Minh Nhân</p>
                </div>
            </div>
        </div>

 m


            <div id="AboutContact">
                <div id="contactInfo">
                    <p id="CT">CONTACT US</p>
                    <p id="para">IF YOU HAVE ANY QUESTIONS OR REQUESTS, PLEASE REACH OUT VIA EMAIL OR FOLLOW US ON SOCIAL CHANNELS.</p>
                </div>
                <div id="contactLink">
                    <div id="fistLink">
                        <p id="tagLink">REGARDING PR & MEDIA</p>
                        <a href="/page/AboutUs_Page.html"><p id="LinkContact">ALLOFGAMES@GROUPSEVEN.COM</p></a>
                    </div>
                    <div id="secondLink">
                        <p id="tagLink1">REGARDING SPONSORSHIP OR PARTNERSHIP</p>
                        <a href="/page/AboutUs_Page.html"><p id="LinkContact1">INFO@ALLOFGAMES.COM</p></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src="/scripts/AboutUsJS.js"></script>
</body>
</html>
