<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/AboutUs_PageCSS.css">
    <script src="/scripts/AboutUsJS.js"></script>
</head>
<body>
    <div id="aboutContent">
        <div id="titleAbout">
             <h1>ABOUT</h1>         
        </div>
        
        
        <div id="imgAndInfo">
            <div id="Host1">
                <div id="imgHost1">
                    <img src="/assets/images/img_HostAndParticipants/PhuocSang.png" alt="Host1">
                </div>
                <div id="infoHost1">
                    <p>Host And Craetor</p>
                </div>
            </div>







            
            <div id="Host2">
                
            </div>
        </div>

    </div>
</body>
</html>