<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/ARK_PageCSS.css">
        <title>Document</title>
    </head>
<body>
    <div class="main">
        <div class="content">
    <div style="justify-content: center;">
        <!-- <img src="/assets/images/img_page_ARK/ARK_1.png" alt="banner" > -->
        <h1>ARK: Survival Evolved</h1>
        <p></p>
    </div>

    <div class="trailer">
        <h2>Giới thiệu</h2>
        <P>
            ARK đã được tái tạo hoàn toàn từ đầu với công nghệ trò chơi video thế hệ tiếp theo của Unreal Engine 5!
            Hình thành một bộ tộc, thuần dưỡng và sinh sản hàng trăm loài khủng long và sinh vật nguyên thủy độc đáo, khám phá, chế tạo, xây dựng và chiến đấu để leo lên đỉnh của chuỗi thức ăn.
            Thế giới mới của bạn đang chờ đợi!
        </P>
        <video id="backgroundVideo" autoplay loop muted>
            <source src="/assets/vid/ARK_trailer.mp4" type="video/mp4">
        </video>

    </div>

    <div>
        <h3>Tổng quan</h3>
        <p>
            Bạn tỉnh dậy trên bãi biển của một hòn đảo hoang mang tên ARK, trên người chỉ còn bộ đồ lót và xung quanh là những bầy khủng long đủ chủng loại đang sống hoang dã. Đó là khởi đầu của tựa game bắn súng FPS thế giới mở mang tên ARK: Survival Evolved vừa được nhà phát triển Wildcard giới thiệu.
        </p>
        <p>
            ARK: Survival Evolved tập trung vào tính sống sót của người chơi khi kết nối họ vào một thế giới mở tự do là một hoang đảo thời kỳ khủng long. Người chơi sẽ từ 2 bàn tay trắng tự tạo dựng nhà trú ẩn, chế tạo vũ khí, thu thập tài nguyên nghiên cứu các công nghệ từ sơ khai đến hiện đại. Bên cạnh đó người phải phải đối mặt với thế igới khủng long đầu kỳ thú nhưng cũng không kém phần nguy hiểm. Có thể thuần hóa khủng long làm thú cưỡi, đấu nhau với cá sấu cổ đại hay khủng long bạo chúa.
        </p>
        <p>
            Các nghiên cứu công nghệ sẽ giúp người chơi phát triển cuộc sống, từ vũ khí thô sơ sẽ chế được súng đạn, từ nhà tranh vách lá đến pháo đài kiên cố. Tất nhiên sẽ không thể thiếu phần PvP khi các cộng đồng người chơi va chạm với nhau, tranh cướp tài nguyên…
        </p>
    </div>

    <div class="imgARK">
        <img src="/assets/images/img_page_ARK/ARK_2.png" alt="ARK">
        <img src="/assets/images/img_page_ARK/ARK_3.png" alt="ARK">
        <img src="/assets/images/img_page_ARK/ARK_4.png" alt="ARK">
        <img src="/assets/images/img_page_ARK/ARK_5.png" alt="ARK">
        <img src="/assets/images/img_page_ARK/ARK_6.png" alt="ARK">
        <img src="/assets/images/img_page_ARK/ARK_7.png" alt="ARK">
    </div>
</div>
</div>
</body>
</html>