<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/ARK_PageCSS.css">
        <title>Document</title>
    </head>
<body>
    <div class="main">
        <div class="content">
    <div style="justify-content: center;">
        <!-- <img src="/assets/images/img_page_ARK/ARK_1.png" alt="banner" > -->
        <h1>ARK: Survival Evolved</h1>
        <p></p>
    </div>

    <div class="trailer">
        <h2>Giới thiệu</h2>
        <video id="backgroundVideo" autoplay loop muted>
            <source src="/assets/vid/ARK_trailer.mp4" type="video/mp4">
        </video>
        <P>
            ARK đã được tái tạo hoàn toàn từ đầu với công nghệ trò chơi video thế hệ tiếp theo của Unreal Engine 5!
            Hình thành một bộ tộc, thuần dưỡng và sinh sản hàng trăm loài khủng long và sinh vật nguyên thủy độc đáo, khám phá, chế tạo, xây dựng và chiến đấu để leo lên đỉnh của chuỗi thức ăn.
            Thế giới mới của bạn đang chờ đợi!
        </P>
    </div>

    <div>
        <h3>Tổng quan</h3>
        <p>
            Hồi sinh vào một trải nghiệm sống sót với khủng long mới, nằm ngoài tưởng tưởng hoang dã của bạn...
            khi ARK được tái tạo từ đầu với công nghệ video game thế hệ tiếp theo của Unreal Engine 5!
            Bạn tỉnh dậy trên một hòn đảo bí ẩn, giác quan của bạn bị quá tải bởi ánh nắng chói chang và màu sắc tuyệt vời phản xạ từ mọi bề mặt xung quanh bạn, những dòng nước xanh biếc của một hòn đảo tươi tốt đập nhẹ vào bàn chân trần của bạn.
            Một tiếng gầm sâu vang lên từ khu rừng sương mù, khiến bạn bật dậy - không sợ hãi, mà là hứng thú. Bạn đã sẵn sàng để hình thành một bộ tộc, thuần dưỡng và sinh sản hàng trăm loài khủng long và các sinh vật nguyên thủy khác, khám phá, chế tạo, xây dựng và chiến đấu để leo lên đỉnh chuỗi thức ăn chứ?
            Thế giới mới của bạn đang chờ đợi... hãy bước qua tấm gương và tham gia vào nó!
        </p>
    </div>

    <div>
        <h3>Đặc điểm</h3>
        <p>
            ARK: Survival Ascended đã hoàn toàn tái tạo và thiết kế lại nghệ thuật và thế giới của ARK để tận dụng những tiến bộ mới nhất trong công nghệ video game, Unreal Engine 5, sử dụng các đặc điểm đồ họa cao cấp như Giác sáng Toàn cầu động ("Lumen"), để ánh sáng phản xạ một cách thực tế trên bề mặt và tạo ra những hình ảnh phản ánh chân thực, cùng với hệ thống lưới tiên tiến ("Nanite") của hàng trăm triệu tam giác để có chi tiết cực kỳ cao.
            Hệ thống vật lý mới tiên tiến như nước động đến mức mọi sinh vật tạo ra sóng, sóng nhỏ, bọt và bong bóng khi chúng di chuyển qua các chất lỏng, cũng như làm cho mọi cây cỏ, bụi cây và cây cỏ tương tác vật lý đầy đủ, với mỗi lá cỏ phản ứng theo nhân vật, các vụ nổ, đạn pháo và các vật thể vật lý khác.
            Đánh đổ một cây và thấy nó đổ vào các cây khác và làm xáo trộn tất cả cây cỏ trên đường nó rơi xuống đến khi đụng vào cỏ bên dưới! Phát hiện một kẻ thù di chuyển lặng lẽ qua cỏ khi nó chuyển động và lung lay theo sự hiện diện của họ. Phá hủy một tòa nhà và quan sát các phần vụn bể ra một cách thực tế, tương tác với cỏ và nước khi chúng rơi xuống.
            ARK: Survival Ascended bao gồm quyền truy cập vào tất cả các thế giới của ARK, bao gồm Scorched Earth, Aberration, Extinction, ARK Genesis Part 1, ARK Genesis Part 2, và nhiều hơn nữa. The Island đã được phát hành, với các thế giới mở rộng tiếp theo sẽ được thêm vào mà không tăng thêm chi phí đều đặn.
        </p>
    </div>

    <div class="imgARK">
        <img src="/assets/images/img_page_ARK/ARK_2.png" alt="ARK">
        <img src="/assets/images/img_page_ARK/ARK_3.png" alt="ARK">
        <img src="/assets/images/img_page_ARK/ARK_4.png" alt="ARK">
        <img src="/assets/images/img_page_ARK/ARK_5.png" alt="ARK">
        <img src="/assets/images/img_page_ARK/ARK_6.png" alt="ARK">
        <img src="/assets/images/img_page_ARK/ARK_7.png" alt="ARK">
    </div>
</div>
</div>
</body>
</html>