<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/ContactUs_PageCSS.css">
</head>
<body>
    <div id="AboutContact">
        <div id="contactInfo">
            <p id="CT">CONTACT US</p>
            <p id="para">IF YOU HAVE ANY QUESTIONS OR REQUESTS, PLEASE REACH OUT VIA EMAIL OR FOLLOW US ON SOCIAL CHANNELS.</p>
        </div>
        <div id="contactLink">
            <div id="fistLink">
                <p id="tagLink">REGARDING PR & MEDIA</p>
                <a href="/page/AboutUs_Page.html"><p id="LinkContact">ALLOFGAMES@GROUPSEVEN.COM</p></a>
            </div>
            <div id="secondLink">
                <p id="tagLink1">REGARDING SPONSORSHIP OR PARTNERSHIP</p>
                <a href="/page/AboutUs_Page.html"><p id="LinkContact1">INFO@ALLOFGAMES.COM</p></a>
            </div>
        </div>
    </div>
</body>
</html>