<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/GTA_VI_PageCSS.css">


    <title>Document</title>
  </head>
  <body>
    <div id="content">
      <div id="topContent">
        <div id="tag1">
          <h1>
            Tất tần tật về GTA 6: trailer trình làng sớm hơn dự kiến sau 1 thập kỷ chờ đợi
          </h1>
        </div>

        <div id="images">
          <img src="/assets/images/img_page_GTA_VI/trailer_GTA_6.jpg" alt="">
        </div>
      </div>

      <div>
        <div id="tag2">
          <h2>
            1. Trailer đầu tiên GTA 6 có gì đặc biệt làm game thủ nóng lòng?
          </h2>
        </div>
        <div id="paragraph">
            <p>Trước đó, đội ngũ sản xuất Rockstar đã lên kế hoạch trình làng trailer GTA 6 vào mốc thời gian nhất định, khiến hàng nghìn người bùng nổ sự phấn khích, họ thậm chí còn bật màn hình công chiếu trước 24 giờ và hào hứng trò chuyện về trò chơi. Tuy nhiên, không lâu sau đó, trước thời điểm công bố, đoạn trailer GTA 6 bất ngờ bị leak lên mạng xã hội X. Tài khoản rò rỉ đã bị đình chỉ, trailer GTA 6 cũng buộc phải phát hành sớm hơn dự kiến.
            Dù công bố theo cách không như mong muốn nhưng trailer đầu tiên của bom tấn GTA 6 đã chính thức được giới thiệu. Với độ dài một phút rưỡi, trailer đã đem đến cho cộng đồng game thủ cái nhìn đầu tiên về siêu phẩm đáng được mong đợi trong suốt thập kỷ qua.</p>
        </div>
      </div>


    </div>
  </body>
</html>
