<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/GTA_VI_PageCSS.css"></link>
</head>
<body>
    <main>
        <div class="content">
            <dv class="topContent">
                <video id="backgroundVideo" autoplay loop muted>
                    <source src="/assets/vid/GTA_VI_trailer.mp4" type="video/mp4">
                </video>
        
            <div class="overlay">
                <div class="mainLogo">
                    <img src="/assets/images/img_page_GTA_VI/logoGTA.png" alt="">
                    <div class="paragraph">
                        <p>
                            Grand Theft Auto VI heads to the state of Leonida, home to the neon-soaked streets of Vice City 
                            and beyond in the biggest, most immersive evolution of the Grand Theft Auto series yet. Coming 
                            2025 to PlayStation 5 and Xbox Series X|S.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="content-wrapper">
            <!-- Tạo button cuộn trang -->
            <button onclick="scrollToTop()" id="scrollToTopBtn">
                UP
                <i class="fa-regular fa-circle-up"></i>
            </button>

            <!-- Tên game -->
            <section id="info-game-container">
                        <h1 style="color: brown; font-weight: bold;">Grand Theft Auto VI</h1>
            </section>
            <section id="paragraph">
                <h1>About Game</h1>
                <p>
                    Grand Theft Auto VI is an upcoming electronic game in the action-adventure genre developed by Rockstar Games. 
                    This is the eighth original installment in the Grand Theft Auto game series, following Grand Theft Auto V (2013), 
                    and the sixteenth overall in the franchise. Set in the fictional state of Leonida (based on Florida), the story 
                    will revolve around the criminal duo Lucia and her accomplices.
                </p>
            </section>

            <section id="paragraph">
                <h1>Features</h1>
                <p>
                    Genres: Action game, Open world, Nonlinear gameplay
                </p>

                <p>
                    GTA 6 will be coming to PS5 and Xbox Series X/S when it arrives. The news came by way of an official press release 
                    from Take Two, which states that: "GTA 6 is coming to PlayStation 5 computer entertainment systems and Xbox Series 
                    X|S games and entertainment systems in 2025
                </p>
            </section>
            
            <!-- Slideshow container -->
            <div class="slideshow-container">

            <!--fullwidth ảnh với number text -->
                <div class="mySlides">
                    <div class="numbertext">1 / 6</div>
                    <img src="/assets/images/img_page_GTA_VI/GTA_1.jpg" style="width:100%">
                </div>
            
                <div class="mySlides">
                  <div class="numbertext">2 / 6</div>
                  <img src="/assets/images/img_page_GTA_VI/GTA_5.jpg" style="width:100%">
                </div>
            
                <div class="mySlides">
                  <div class="numbertext">3 / 6</div>
                  <img src="/assets/images/img_page_GTA_VI/GTA_2.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 6</div>
                    <img src="/assets/images/img_page_GTA_VI/GTA_4.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">5 / 6</div>
                    <img src="/assets/images/img_page_GTA_VI/GTA_6.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">6 / 6</div>
                    <img src="/assets/images/img_page_GTA_VI/GTA_3.jpg" style="width:100%">
                </div>
            
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
            
                <div class="caption-container">
                    <p id="caption"></p>
                </div>
                
                <div class="row">
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_GTA_VI/GTA_1.jpg" style="width:100%" onclick="currentSlide(1)" alt="">
                    </div>
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_GTA_VI/GTA_5.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
                    </div>
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_GTA_VI/GTA_2.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
                    </div>
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_GTA_VI/GTA_4.jpg" style="width:100%" onclick="currentSlide(4)" alt="">
                    </div>
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_GTA_VI/GTA_6.jpg" style="width:100%" onclick="currentSlide(5)" alt="">
                    </div>
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_GTA_VI/GTA_3.jpg" style="width:100%" onclick="currentSlide(6)" alt="">
                    </div>
                </div>
                
                <h6>Một số hình ảnh trong game</h6>
            </div>
            
            <section id="sign">
                <a href="/page/AboutUs_Page.html"></a>
            </section>
  
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1"></a>
                    <a href="#" class="fas fa-star s2"></a>
                    <a href="#" class="fas fa-star s3"></a>
                    <a href="#" class="fas fa-star s4"></a>
                    <a href="#" class="fas fa-star s5"></a>
                </div>
            </section>
            
            <section id="another-blog">
                <h1 style="color: brown;">Các bài đăng khác</h1>
                    <div class="another-blog-content">
                        <a href="/page/RedDead_Page.html">
                            <img src="/assets/images/img_news/RDR2.jpg" alt="another-blog">
                            <h6>Review Red Dead Redemption 2 : Gã cao bồi hết thời và hành trình đi tìm bản ngã</h6>
                        </a>
                        <a href="/page/GTA_V_Page.html">
                            <img src="/assets/images/img_news/GTA5.jpg" alt="another-blog">
                            <h6>Tất tần tật về GTA 5: Trailer trình làng sớm hơn dự kiến sau 1 thập kỷ chờ đợi</h6>
                        </a>
                        <a href="/page/ARK.html">
                            <img src="/assets/images/img_news/ARK.jpg" alt="another-blog">
                            <h6>ARK: Survival Evolved Review</h6>
                        </a>
                    </div>
            </section>
        </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    
    <script src="/scripts/news_pageJS.js"></script>
</body>
</html>