<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/RedDead_PageCSS.css">
</head>

<body>
    <section>
        <div id="banner">
            <img class="imgBanner" src="/assets/images/img_reddead/banner.png" alt="banner Red">
            <div class="dark-layer"></div>
            <div class="title-text">
                <h1>Review Red Dead Redemption 2</h1>
                <h1> Gã Cao Bồi Hết Thời Và Hành Trình Đi Tìm Bản Ngã</h1>
            </div>
        </div>

        <div class="title">
            <h1 class="titleContent"> Review Red Dead Redemption 2 : Gã Cao Bồi Hết Thời Và Hành Trình Đi Tìm Bản Ngã
            </h1>

        </div>
        <div class="content">

            <p>
                8 năm để định hướng, xây dựng, phát triển và cho ra mắt Red Dead Redemption 2. 8 năm đối với ngành công
                nghiệp game là một quãng thời gian rất dài, trong 8 năm kể từ năm 2010 đến 2018 đã có rất nhiều những
                hậu bản game được ra đời, hàng loạt những cải tiến trong gameplay của các tựa game đã được trình làng,
                rất nhiều những câu chuyện hấp dẫn, lôi cuốn đã được đưa đến cho game thủ. 8 năm quả thực là một quãng
                thời gian quá lâu cho một hậu bản được ra mắt. Nhưng với Rockstar và đứa con tình thần Red Dead
                Redemption 2, 8 năm đó quả thực không uổng phí một chút nào. Và đây là một bài review của mình về siêu
                phẩm game của thời đại, một tuyệt tác của làng game đó là Red Dead Redemption 2.
            </p>

            <img src="/assets/images/img_reddead/1.jpg" alt="Image 0">

            <h2>GIỚI THIỆU ĐÔI NÉT</h2>
            <p>
                Red Dead Redemption 2 là một tựa game phiêu lưu hành động năm 2018 do Rockstar Games phát triển và phát
                hành. Trò chơi là phần thứ ba trong loạt Red Dead và là tiền truyện của Red Dead Redemption năm 2010.
                Game được phát hành trên 4 hệ đó là Playstation 4, XBOX ONE, PC và Google Stadia. Câu chuyện lấy bối
                cảnh năm 1899, theo sau các chiến công của một kẻ ngoài vòng pháp luật - Arthur Morgan, thành viên của
                băng đảng Van der Linde, ở một phiên bản hư cấu của vùng Western, Trung Tây và Nam Hoa Kỳ. Arthur vừa
                phải đối phó với sự suy tàn của Miền Tây hoang dã vừa phải cố gắng chống lại lực lượng chính phủ, các
                băng đảng đối thủ và những kẻ địch khác. Phần kết của trò chơi nói về một thành viên trong băng đảng là
                John Marston, nhân vật chính của Red Dead Redemption.
            </p>

            <img src="/assets/images/img_reddead/1.jpg" alt="Image 1">

            <h2>GAMEPLAY</h2>

            <p>
                Gameplay luôn là linh hồn, xương sống của cả một trò chơi. Một trò chơi có thể không có cốt truyện,
                nhưng chắc chắn phải có gameplay. Mà một game hay là một game có gameplay hay, và với Red Dead
                Redemption 2 (từ giờ mình sẽ gọi tắt là RDR2) thì gameplay của game có thể vừa là một điểm cộng cực lớn,
                nhưng đồng thời nó cũng có những điểm trừ đáng để nói đến.
            </p>
            <h2>MỘT THẾ GIỚI RỘNG LỚN</h2>
            <p>
                Thế giới mở của RDR2, được Rockstar thiết kế vô cùng tỉ mỉ, nó thỏa mãn được những yếu tố mà mình muốn
                có trong 1 game thế giới mở.
                Đầu tiên là về độ rộng và sự phong phú trong thế giới này. Bản đồ trong game là vô cùng rộng lớn diện
                tích lên đến 75 km vuông biến RDR2 trở thành tựa game thế giới mở lớn nhất mà Rockstar từng tạo ra, và
                bản thân mình đến tận bây giờ mình vẫn chưa thể khám phá hết được cả bản đồ...
            </p>

            <img src="/assets/images/img_reddead/1.jpg" alt="Image 2">

            <p>
                Bên cạnh cách thành phố, RDR2 có thiên nhiên trong game với rừng núi, sông suối, đầm lầy đang chờ đợi
                gamer khám phá với hệ thống sinh vật, thực vật vô cùng đa dạng. Mỗi một khu rừng, tiếng xào xạc của mỗi
                một cái cây lại khác nhau...
            </p>

            <img src="/assets/images/img_reddead/1.jpg" alt="Image 3">
            <img src="/assets/images/img_reddead/1.jpg" alt="Image 4">

            <p>
                Đó là yếu tố đầu tiên mình đề cập về việc Rockstar đã xây dựng thế giới tốt như thế nào. Yếu tố thứ 2,
                mình muốn nói tới là việc các tác động của người chơi đến thế giới. Thế giới trong game có thể có bản đồ
                rất rộng, có rất nhiều npc, động thực vật, đi kèm với đó là nền đồ hoạ cực kỳ đẹp mắt...
            </p>
            <h2>TỔNG KẾT</h2>
            <p>
                Red Dead Redemption 2 không phải là một tựa game hoàn hảo, nó còn rất nhiều hạn chế mà bản thân Rockstar
                hoàn toàn có thể làm tốt hơn nữa, game cũng phải là tựa game có thể dành cho tất cả mọi người...
            </p>

            <img src="/assets/images/img_reddead/1.jpg" alt="Image 11">

            <p>
                Xong vẫn không thể phủ nhận, game là một trong những tựa game hay nhất ít nhất là trong 10 năm gần đây,
                game đặt ra một quy chuẩn mới trong cách thiết kế thế giới mở, xây dựng thế giới, tương tác của người
                chơi đến game,... bên cạnh đó câu chuyện mà RDR2 mang đến dường như đã nâng tầm game lên một đỉnh cao
                mới, biến RDR2 là 1 kiệt tác của thế giới game, tựa game khiến game không chỉ là để chơi cho vui nữa, nó
                là một tác phẩm nghệ thuật, 1 đỉnh cao của nghệ thuật. Một siêu phẩm của thời đại, mà có lẽ rất lâu nữa
                mình mới có thể tìm được một game giống như Red Dead Redemption 2.
            </p>

            <p>
                Chấm điểm 9.75/10 (dễ tính đi thì sẽ luôn xứng đáng 10/10)
            </p>
        </div>

        <h2>TRAILER GIỚI THIỆU</h2>
        <!-- Thay thế 'VIDEO_URL' bằng đường link video thực tế -->
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/eaW0tYpxyp0"
            title="Red Dead Redemption 2: Official Trailer #3" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </section>

</body>

</html>