<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/ARK_PageCSS.css"></link>
</head>
<body>
    <main>
        <div class="content-wrapper">
            <!-- Tạo button cuộn trang -->
            <button onclick="scrollToTop()" id="scrollToTopBtn">
                UP
                <i class="fa-regular fa-circle-up"></i>
            </button>

            <!-- Ảnh banner -->
            <section id="banner-image">
                <img src="/assets/images/img_page_ARK/ARK_1.png" alt="Minecraft Banner">
            </section>

            <!-- Tên game -->
            <section id="info-game-container">
                        <h1 style="color: brown; font-weight: bold;">ARK: Survival Evolved</h1>
                        <h6>
                            
                        </h6>
                    <hr>
            </section>
            <section id="paragraph">
                <h1>Giới thiệu</h1>
                <p>
                    <span style="color: brown; font-weight: bold;">ARK: Survival Evolved</span> ARK đã được tái tạo hoàn toàn từ đầu với công nghệ trò chơi video thế hệ tiếp theo của Unreal Engine 5!
                    Hình thành một bộ tộc, thuần dưỡng và sinh sản hàng trăm loài khủng long và sinh vật nguyên thủy độc đáo, khám phá, chế tạo, xây dựng và chiến đấu để leo lên đỉnh của chuỗi thức ăn.
                    Thế giới mới của bạn đang chờ đợi!
                </p>
            
            </section>
            
            <section id="trailer-holder">
                <div>
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/MmB9b5njVbA?si=rhRQywg5uUWYbJgt" title="Minecraft trailer"
                     frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </section>
            
            <section id="paragraph">
                <h1>Gameplay trò chơi PC</h1>
                <p>
                    Bạn tỉnh dậy trên bãi biển của một hòn đảo hoang mang tên ARK, trên người chỉ còn bộ đồ lót và xung quanh là những bầy khủng long đủ chủng loại đang sống hoang dã.
                    Đó là khởi đầu của tựa game bắn súng FPS thế giới mở mang tên ARK: Survival Evolved vừa được nhà phát triển Wildcard giới thiệu.
                    ARK: Survival Evolved tập trung vào tính sống sót của người chơi khi kết nối họ vào một thế giới mở tự do là một hoang đảo thời kỳ khủng long.
                    Người chơi sẽ từ 2 bàn tay trắng tự tạo dựng nhà trú ẩn, chế tạo vũ khí, thu thập tài nguyên nghiên cứu các công nghệ từ sơ khai đến hiện đại.
                    Bên cạnh đó người phải phải đối mặt với thế igới khủng long đầu kỳ thú nhưng cũng không kém phần nguy hiểm.
                    Có thể thuần hóa khủng long làm thú cưỡi, đấu nhau với cá sấu cổ đại hay khủng long bạo chúa.
                    Các nghiên cứu công nghệ sẽ giúp người chơi phát triển cuộc sống, từ vũ khí thô sơ sẽ chế được súng đạn, từ nhà tranh vách lá đến pháo đài kiên cố.
                    Tất nhiên sẽ không thể thiếu phần PvP khi các cộng đồng người chơi va chạm với nhau, tranh cướp tài nguyên…
                </p>
            </section>
            
            <!-- Slideshow container -->
            <div class="slideshow-container">

            <!--fullwidth ảnh với number text -->
                <div class="mySlides">
                    <div class="numbertext">1 / 6</div>
                    <img src="/assets/images/img_page_ARK/ARK_2.png" style="width:100%">
                </div>
            
                <div class="mySlides">
                  <div class="numbertext">2 / 6</div>
                  <img src="/assets/images/img_page_ARK/ARK_3.png" style="width:100%">
                </div>
            
                <div class="mySlides">
                  <div class="numbertext">3 / 6</div>
                  <img src="/assets/images/img_page_ARK/ARK_4.png" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 6</div>
                    <img src="/assets/images/img_page_ARK/ARK_5.png" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">5 / 6</div>
                    <img src="/assets/images/img_page_ARK/ARK_6.png" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">6 / 6</div>
                    <img src="/assets/images/img_page_ARK/ARK_7.png" style="width:100%">
                </div>
            
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
            
                <div class="caption-container">
                    <p id="caption"></p>
                </div>
                
                <div class="row">
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_ARK/ARK_2.png" style="width:100%" onclick="currentSlide(1)" alt="">
                    </div>
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_ARK/ARK_3.png" style="width:100%" onclick="currentSlide(2)" alt="">
                    </div>
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_ARK/ARK_4.png" style="width:100%" onclick="currentSlide(3)" alt="">
                    </div>
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_ARK/ARK_5.png" style="width:100%" onclick="currentSlide(4)" alt="">
                    </div>
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_ARK/ARK_6.png" style="width:100%" onclick="currentSlide(5)" alt="">
                    </div>
                    <div class="column">
                        <img class="demo" src="/assets/images/img_page_ARK/ARK_7.png" style="width:100%" onclick="currentSlide(6)" alt="">
                    </div>
                </div>
                
                <h6>Một số hình ảnh trong game</h6>
            </div>
            
            <section id="paragraph">
                <p> 
                    Cốt lõi của game xoay quanh việc đặt và phá block.
                    Bản chất thế giới được tạo từ nhiều vật 3D – chủ yếu là khối lập phương – được sắp xếp một chỗ nhất định theo một mạng lưới và được chia thành nhiều vật liệu như đất, đá, quặng, nước và thân cây.
                </p>
                
                <p>
                    Trong khi người chơi có thể di chuyển tự do khắp thế giới, vật và đồ chỉ đặt được chỗ nhất định.
                    Người chơi có thể thu những khối vật liệu này và đặt chúng ở chỗ khác điều này cho phép xây dựng nhiều công trình khác nhau.
                </p>
            </section>

            <section id="paragraph">
                <h1>Tổng kết</h1>
                <p></p>
            </section>

            <section id="sign">
                Người đăng bài: <a href="/page/AboutUs_Page.html"></a>
            </section>
            
            <section id="star-rating">
                <p style="font-size: small;">Bài viết có hữu ích không?</p>
                <div class="star-wrapper">
                    <a href="#" class="fas fa-star s1"></a>
                    <a href="#" class="fas fa-star s2"></a>
                    <a href="#" class="fas fa-star s3"></a>
                    <a href="#" class="fas fa-star s4"></a>
                    <a href="#" class="fas fa-star s5"></a>
                </div>
            </section>
            
            <section id="another-blog">
                <h1 style="color: brown;">Các bài đăng khác</h1>
                    <div class="another-blog-content">
                        <a href="/page/RedDead_Page.html">
                            <img src="/assets/images/img_news/RDR2.jpg" alt="another-blog">
                            <h6>Review Red Dead Redemption 2 : Gã cao bồi hết thời và hành trình đi tìm bản ngã</h6>
                        </a>
                        <a href="/page/GTA_V_Page.html">
                            <img src="/assets/images/img_news/GTA5.jpg" alt="another-blog">
                            <h6>Tất tần tật về GTA 5: Trailer trình làng sớm hơn dự kiến sau 1 thập kỷ chờ đợi</h6>
                        </a>
                        <a href="/page/ARK.html">
                            <img src="/assets/images/img_news/ARK.jpg" alt="another-blog">
                            <h6>ARK: Survival Evolved Review</h6>
                        </a>
                    </div>
            </section>
        </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <script src="/scripts/news_pageJS.js"></script>
</body>
</html>