<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/SectionCSS.css">
</head>
<body>
    <div class="content">
        <div class="topContent">
                <video id="backgroundVideo" autoplay loop muted>
                    <source src="/assets/vid/GTA_VI_trailer.mp4" type="video/mp4">
                </video>

            <div class="overlay">
                <div class="mainLogo">
                    <img src="/assets/images/icon_mainSectionlogo.png" alt="">
                </div>
                <div class="paragraph">
                    <p>Discover the ultimate gaming hub for the latest news and updates on newly released games.
                    <br> Stay informed and entertained with our comprehensive coverage of the gaming world.</p>
                </div>
            </div>
        </div>

        <div class="midContent">
            <div class="Hero">
                <div class="main1">
                    <h1>NEWS</h1>

                    <div class="main1_content">

                    </div>
                </div>
            </div>
        </div>

        <div class="botContent">

            
        </div>

    </div>
</body>
</html>