<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/SectionCSS.css">
    <link rel="stylesheet" href="/assets/css/SectionCSS_Responsive.css">
    <script src="/assets/js/SectionJS.js" defer></script>
</head>
<body>
    <div class="content">
        <div class="topContent">
                <video id="backgroundVideo" autoplay loop muted>
                    <source src="" type="video/mp4">
                </video>

            <div class="overlay">
                <div class="mainLogo">
                    <img src="/assets/images/icon_mainSectionlogo.png" alt="">
                    <div class="paragraph">
                        <p>Discover the ultimate gaming hub for the latest news and updates on newly released games.
                        <br>Stay informed and entertained with our comprehensive coverage of the gaming world.</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="midContent">
            <div class="Hero">
                <div class="marquee">
                    <p>
                        <span>NEWS -</span>
                        <span>NEWS -</span>
                        <span>NEWS -</span>
                        <span>NEWS -</span>
                        <span>NEWS -</span>
                        <span>NEWS -</span>
                        <span>NEWS -</span>
                        <span>NEWS -</span>
                    </p>
                </div>
                 

                    <div class="main1_content">
                        <div class="newsContent">
                            <div class="newsList">
                                <div class="newsItem">
                                    <img src="/assets/images/img_news/elden_ring.jpg" alt="News 1">
                                    <h3>Elden Ring</h3>
                                </div>
                                <div class="newsItem">
                                    <img src="/assets/images/img_news/resident_evil.jpg" alt="News 2">
                                    <h3>Resident Evil 8</h3>
                                </div>
                                <div class="newsItem">
                                    <img src="/assets/images/img_news/GTA5.jpg" alt="News 3">
                                    <h3>Grand Theft Auto V</h3>
                                </div>
                                <div class="newsItem">
                                    <img src="/assets/images/img_news/ARK.jpg" alt="News 3">
                                    <h3>ARK : Survival Evolved</h3>
                                </div>
                                <div class="newsItem">
                                    <img src="/assets/images/img_news/RDR2.jpg" alt="News 3">
                                    <h3>Red Dead Dedemption 2</h3>
                                </div>
                                <div class="newsItem">
                                    <img src="/assets/images/img_news/Cyberpunk.jpg" alt="News 3">
                                    <h3>Cyberpunk 2077</h3>
                                </div>
                                <!-- Thêm các tin tức khác vào đây -->
                            </div>
                         </div>
                    </div>

            </div>
        </div>
        <div class="botContent">

            
        </div>

    </div>
</body>
</html>