<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="" />
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/SectionCSS.css" />
  <link rel="stylesheet" href="/assets/css/SectionCSS_Responsive.css" />
</head>
<body>
  <div class="content">
    <div class="topContent">
      <video id="backgroundVideo" autoplay loop muted>
        <source src="" type="video/mp4">
      </video>

    <div class="overlay">
      <div class="mainLogo">
        <img src="/assets/images/icon_mainSectionlogo.png" alt="">
          <div class="paragraph">
            <p>Discover the ultimate gaming hub for the latest news and updates on newly released games.
            <br>Stay informed and entertained with our comprehensive coverage of the gaming world.</p>
          </div>
      </div>
    </div>
  </div>

  <div class="midContent" id="midContent">
    <div class="Hero">
      <!-- Marquee -->
      <div class="marquee">
        <p>
          <span>NEWS -</span>
          <span>NEWS -</span>
          <span>NEWS -</span>
          <span>NEWS -</span>
          <span>NEWS -</span>
          <span>NEWS -</span>
          <span>NEWS -</span>
          <span>NEWS -</span>
        </p>
      </div>
      
      <!-- Content -->
      <div class="main1_content">
        <div class="newsContent">
          <div class="newsList">
            <div class="newsItem">
              <a href="/page/Minecraft_Page.html"><img src="/assets/images/img_page_Minecraft/minecraft_banner.png" alt="News 1">
              <h3>Minecraft</h3></a>
            </div>
            
            <div class="newsItem">
              <img src="/assets/images/img_news/resident_evil.jpg" alt="News 2">
              <h3>Resident Evil 8</h3>
            </div>
            
            <div class="newsItem">
              <a href="/page/GTA_V_Page.html"><img src="/assets/images/img_news/GTA5.jpg" alt="News 3"></a>
              <h3>Grand Theft Auto V</h3>
            </div>
                                    
            <div class="newsItem">
              <a href="/page/ARK.html"><img src="/assets/images/img_news/ARK.jpg" alt="News 4"></a>
              <h3>ARK : Survival Evolved</h3>
            </div>
                                    
            <div class="newsItem">
              <a href="/page/RedDead_Page.html"><img src="/assets/images/img_news/RDR2.jpg" alt="News 5"></a>
              <h3>Red Dead Dedemption 2</h3>
            </div>
                                    
            <div class="newsItem">
              <a href="/page/Cyberpunk_2077.html"><img src="/assets/images/img_news/Cyberpunk.jpg" alt="News 6"></a>
              <h3>Cyberpunk 2077</h3>
            </div>
            <!-- Thêm các tin tức khác vào đây -->
          </div>
        </div>
      </div>
    </div>    
  </div>
                  
  <div class="botContent" id="botContent">
    <table>
      <tr>
        <td>
          <a href="https://www.playstation.com/en-gb/games/bloodborne/">
            <img src="/assets/images/logo_of_game/logo_bloodborne.png" alt="Image 1">
          </a>
        </td>
        
        <td>
          <a href="https://deltarune.com/">
            <img src="/assets/images/logo_of_game/logo_deltarune.png" alt="Image 2">
          </a>
        </td>
                  
        <td>
          <a href="https://www.supergiantgames.com/games/hades/">
            <img src="/assets/images/logo_of_game/logo_hades.png" alt="Image 3">
          </a>
        </td>
                  
        <td>
          <a href="https://www.hollowknight.com/">
            <img src="/assets/images/logo_of_game/logo_hollow_knight.png" alt="Image 4">
          </a>
        </td>
      </tr>
                
      <tr>
        <td>
          <a href="https://www.monsterhunter.com/">
            <img src="/assets/images/logo_of_game/logo_monster_hunter.png" alt="Image 5">
          </a>
        </td>
                  
        <td>
          <a href="https://www.stardewvalley.net/">
            <img src="/assets/images/logo_of_game/logo_stardew_valley.png" alt="Image 6">
          </a>
        </td>
                  
        <td>
          <a href="https://stray.game/">
            <img src="/assets/images/logo_of_game/logo_stray.png" alt="Image 7">
          </a>
        </td>
                  
        <td>
          <a href="https://undertale.com/">
            <img src="/assets/images/logo_of_game/logo_undertale.png" alt="Image 8">
          </a>
        </td>
      </tr>
    </table>
  </div>
  <script src="/assets/js/SectionJS.js" defer></script>
</body>
</html>