/* FOOTER CONTAINER */
#Footer{
    background-color: rgb(255, 139, 75);
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 2em;
    gap: 16px;
}

/* LEFT FOOTER */
#leftFooter{
    display: block;
    
}

/* LOGO FOOTER */
#logoFooter{
    display: flex;
    justify-content: center;
    width: auto;
}
#logoFooter img {
    width: 300px;
    height: 150px;
    border-radius: 10%;
}

/* FOOTER CONTENT */
#footerContent{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}



/* LIST ITEM CONTENT */
#footerContent div p:hover{
    color: rgb(0, 208, 255);
    transition: 0.2s ease;
}

#footerContent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 24px;
}

#footerContent div {

}

#footerContent div p{
    font-family: 'Franklin Gothic',Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 1em 0;
}


#content3{
    background-color: rgb(255, 139, 75);
    padding: 0 3em;
    text-align: center;
}



#rightFooter{
    display: block;
}

#tag{
    padding: 0.5em;
    display: flex;
    justify-content: center;
    /* margin-left: 110px; */
}
h2{
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

#iconContact {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 24px;
}

#content4{
    display: flex;
    justify-content: center;
    list-style-type: none;
    /* margin-left: 150px; */
}
#content4 li img{
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}


#content4 li img:hover{
    background-color: aqua;
}

#content5{
    display: flex;
    list-style-type: none;
    /* margin-left: 150px; */
    /* margin-top: 50px; */
}

#content5 li img{
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

#content4 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 24px;
}
#content5 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 24px;
}

#content5 li img:hover{
    background-color: aqua;
}

/* COPYRIGHT FOOTER */
.copyrightFooter h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-top: 0;
    padding: 1em 0;
}



@media screen and (max-width: 768px) {
    #Footer {
      flex-direction: column;
    }
  
    #leftFooter {
      margin-bottom: 20px;
    }
  
    #logoFooter {
      text-align: center;
    }
  
    #footerContent {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
    }
  
    .content1,
    .content2 {
      margin-bottom: 10px;
    }
  
    #content3 {
      text-align: center;
    }
  
    #rightFooter {
      text-align: center;
    }
  
    #iconContact {
      display: inline-block;
    }
  
    #content4,
    #content5 {
      margin-bottom: 10px;
    }
  }