/* 
==========================================
    SMALL-LAPTOP USER
==========================================
*/

@media only screen and (max-width: 1024px) {
    /* NAVBAR */
    .NavBar {
        transition: 0.1s ease;
        height: 2em;
    }
    
    /* NAVBAR LIST ITEM */
    .NavBar ul a {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        padding: 0.5em;
        transition: 0.1s ease;
    }

    /* LOGO */
    .NavBar .logo-container img {
        width: auto;
        height: 65px;
        cursor: pointer;
    }
}

/* 
==========================================
    TABLET USER
==========================================
*/
@media only screen and (max-width: 768px) {
    /* NAVBAR */
    .NavBar {
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 1.5em 4vw;
        /* display: none; */
    }
}