.intro {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Màu nền của intro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Đảm bảo intro hiển thị trên các phần khác của trang */
    opacity: 1; /* Mức độ mờ ban đầu của intro */
    transition: opacity 2s; /* Thời gian và hiệu ứng chuyển đổi */
}

.intro img {
    width: 250px; /* Độ rộng của hình ảnh logo */
    height: auto; /* Chiều cao sẽ tự điều chỉnh để giữ tỷ lệ khung hình */
}

.intro img {
    transform: scale(1);
    transition: transform 2s;
}

.intro.fade-in img {
    transform: scale(0);
}

