/* 
==========================================
    SMALL-LAPTOP USER
==========================================
*/
@media only screen and (max-width: 1024px) {
    .mainLogo{
        transition: 0.1s ease;
        position: relative;
        top: 4em;
        left: 4em;
        width: max-content;
        height: auto;
      }
    
      .mainLogo img {
        transition: 0.1s ease;
        width: 25vw;
        height: auto;
        margin: 0;
    }
    
    .paragraph {
        transition: 0.1s ease;
        width: 50vw;
        height: auto;
        margin: 0;
    }
    .paragraph p {
        transition: 0.1s ease;
        width: 50vw;
        height: auto;
        color: white;
        font-size: 25px;
        margin: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .marquee{
        transition: 0.1s ease;
        width: 10vw;
        height: 100vw;
        margin: 0;
    }
    .main1_content{
        transition: 0.1s ease;
        width: 90vw;
        height: auto;
        margin: 0;
    }
    .newsItem img{
        transition: 0.1s ease;
        width: 40vw;
        height: 50vh;
        margin: 0;
    }




    table{
        transition: 0.1s ease;
        width: 30px;
        height: auto;
        margin: 0;
    }
    tr, td{
        transition: 0.1s ease;
        width: 30vw;
        height: auto;
        margin: 0;
    }
    tr, td img{
        transition: 0.1s ease;
        width: 22vw;
        height: auto;
        margin: 0;
    }
}