
#aboutContent{
    box-sizing: content-box;
    /* padding-top: 3em; */
    width: 100%;
    height: 100%;
}

#titleAbout{
    width: 100%;
    height: 900px;
}


#titleAbout img{
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.Developer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 3vw 4vw;
    background-color: #000000;
}
 
#Host1{
    width: 100%;
    display: flex;
}

/* ANIMATION WHEN HOVER */
#Host1:hover {
    
}

#Host1 #imgHost1 img{
    border-radius: 16px;
    border: 4px solid rgb(255, 139, 75);
    width: 300px;
    height: 300px;
    object-fit: cover;

}
#Host1 #infoHost1{
    position: relative;
    width: 100%;

}
#Host1 #infoHost1 h2{
    color:  rgb(255, 139, 75);
    left: 50px;
    width: max-content;
    height: 50px;
    position:relative;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    top: 30px;
}


#Host1 #infoHost1 p{
    color:  rgb(255, 139, 75);
    left: 50px;
    width: 800px;
    height: 100px;
    position:relative;
    font-size: 35px;
    margin: 0%;
}

#Host1 #infoHost1 #fistName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px ;
    font-weight: bold;
    top: 20px;
    width: max-content;
}

#Host1 #infoHost1 #lastName{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    top: -25px;
    width: max-content;
    
}
#imgHost1 img{
    width: 400px;
    height: 400px;
}


/* 3D CARD EFFECT */
.card3d {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
  }
  
  .card3d:hover {
    z-index: 10;
    transform: scale(1.1);
  }
  
  .card3d,
  .card3d img {
    transition: all 100ms ease-out;
  }