#AboutContact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(246, 205, 183);
    width: auto;
    height: 800px;
    padding: 2vw 2vw;
    gap: 24px;
}

#AboutContact #contactInfo{
    width: auto;
    height: fit-content;
}


#AboutContact #contactInfo #CT{
    font-family: 'Times New Roman', Times, serif;
    font-size: 85px;
    width: 550px;
    margin: 0%;
}
#AboutContact #contactInfo #para{
    font-size: 20px;
    margin: 0%;
    width: 600px;
    font-weight: bold;
}






#AboutContact #contactLink{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: max-content;
    gap: 16px;
}

#AboutContact #contactLink #fistLink #tagLink{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0%;
    width: auto;
}

#AboutContact #contactLink #fistLink #LinkContact{
    display: flex;
    position: relative;
    border: 1px solid rgb(0, 0, 0) ;
    border-radius: 5px;
    color: rgb(255, 139, 75);
    margin: 0%;
    background-color: rgb(0, 0, 0);
    font-size: 22px;
    width: 400px ;
    height: 30px;
    justify-content: center;
}

#AboutContact #contactLink #secondLink #tagLink1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0%;
    width: auto;
}

#AboutContact #contactLink #secondLink #LinkContact1{
    display: flex;
    position: relative;
    border: 1px solid rgb(0, 0, 0) ;
    border-radius: 5px;
    color: rgb(255, 139, 75);
    margin: 0%;
    background-color: rgb(0, 0, 0);
    font-size: 22px;
    width: 400px ;
    height: 30px;
    justify-content: center;
}