main{
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px ;
}
/* macro flex */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ảnh banner trên cùng */
#banner-image img{
    width: 100%;
}
/* chữ Minecraft ở đầu văn bản */
#info-game-container h1{
    font-size: 4vh;
    
}

/* ô video trailer */
#trailer-holder {
    max-width: 100%;
    max-height: auto;
    display: flex;
    justify-content: center;
}
/* css video */
#trailer-holder video{
    width: 500px;
    height: auto;
}
/* trang trí chữ minecraft */
#paragraph h1{
    color: brown;
    font-weight: bold;
}


/* slide show ở đây*/
img {
    vertical-align: middle;
}

/*cai dat vi tri cho 2 nut trai phai*/
.slideshow-container {
    position: relative;
}

/*Hide anh*/
.mySlides {
    display: none;
}

/*add ngon tro*/
.cursor {
    cursor: pointer;
}

/*Nút trước và sau*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/*đưa vị trí nút next qua phải*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Tô đen nút chuyển ảnh khi đưa chuột vào*/
.prev:hover,
.next:hover {
    background-color: rgb(0, 0, 0);
}

/* Number text */
.numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container image text */
.caption-container {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 2px 16px;
    color: rgb(255, 255, 255);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*dat 6 cot ke nhau*/
.column {
    float: left;
    width: 16.66%;
}

/*tao hieu ung cho anh chinh */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.slideshow-container h6{
    /* dem chu thich len gan slideshow */
    margin-top: 5px; 
    /* dem chu thich ra giua */
    text-align: center;
    /* chon size nho */
    font-size: small;
    /* chinh mau chu */
    color: rgb(103, 103, 103);
}

/* nut cuon len dau trang */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #9e5353;
    color: #dc0000;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}
