main {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
}

/* UTILITY */
* {
    box-sizing: content-box;
}
  
.content {
    padding-top: 6em;
    overflow: hidden;
    width: 100%;
}
  
/* TOP CONTAINER */
.topContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}
  
#backgroundVideo {
    position: relative;
    left: 10%;
    width: 100%;
    opacity: 1;
}
  
.overlay {
    box-sizing: border-box;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    align-items: start;
    justify-content: flex-start;
    z-index: 1;
    background: linear-gradient(
        to right,
        rgb(0, 0, 0, 1) 10%,
          rgba(0, 0, 0, 0) 100%
    ); /* Màu nền của lớp chữ ghi đè */
}

.mainLogo {
    position: relative;
    top: 2em;                   /* Thay đổi vị trí phía trên */
    left: 4em;                  /* Thay đổi vị trí bên trái */
    width: max-content;
}
  
.mainLogo img {
    transition: 0.1s ease;
    width: 50vw;                /* Thay đổi kích cỡ ảnh */
    max-width: 500px;
    
}

.paragraph {
    width: auto;
}

.paragraph p {
    transition: 0.1s ease;
    width: 55vw;
    max-width: 650px;
    color: white;
    font-size: 2em;
    margin: 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
  
/* MID CONTAINER */
.midContent {
    height: auto;
    background-color: black;
}

/* macro flex */
.content-wrapper {
    /* background-color: rgb(246, 205, 183); */
    background: linear-gradient(to right, rgba(255, 139, 75, 0.6) 0%, black 5%, black 95%, rgba(255, 139, 75, 0.6) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    /* width: 80%; */
    padding: 15px 10vw;
}

#info-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ảnh banner trên cùng */
#banner-image img {
    width: 100%;
}

/* trang trí chữ minecraft */
#paragraph h1 {
    color: brown;
    font-weight: bold;
}


/* slide show ở đây*/
img {
    vertical-align: middle;
}

/*cai dat vi tri cho 2 nut trai phai*/
.slideshow-container {
    position: relative;
}

/*Hide anh*/
.mySlides {
    display: none;
}

.mySlides:first-child {
    display: block;
  }

/*add ngon tro*/
.cursor {
    cursor: pointer;
}

/*Nút trước và sau*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/*đưa vị trí nút next qua phải*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Tô đen nút chuyển ảnh khi đưa chuột vào*/
.prev:hover,
.next:hover {
    background-color: rgb(0, 0, 0);
}

/* Number text */
.numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container image text */
.caption-container {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 2px 16px;
    color: rgb(255, 255, 255);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*dat 6 cot ke nhau*/
.column {
    float: left;
    width: 16.66%;
}

/*tao hieu ung cho anh chinh */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.slideshow-container h6 {
    /* dem chu thich len gan slideshow */
    margin-top: 5px; 
    /* dem chu thich ra giua */
    text-align: center;
    /* chon size nho */
    font-size: small;
    /* chinh mau chu */
    color: rgb(103, 103, 103);
}

/* lam chu ky wavy */
#sign a {
    position: relative;
    display: inline-block;
    transition: color 0.3s;
}
#sign a:hover {
    color: brown;
    animation: wavyText 0.6s ease-in-out infinite;
}
@keyframes wavyText {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

/* nut cuon len dau trang */
#scrollToTopBtn {
    position: fixed;
    z-index: 1; 
    right: 10px;
    top: 90%;
    background-color: rgba(255, 138, 75, 0.83);
    border-radius: 5px;
    padding: 1%;
    cursor: pointer;
}

/* another blog contain */
.another-blog {
    /* height: 900px; */
}

.another-blog-content {
    display: flex;
    justify-content: space-between;
}

.another-blog-content a {
    display: flex;
    /* doi huong flex de anh o tren va tieu de o duoi */
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    width: 30%;
    height: auto;
}

.another-blog-content img {
    width: 100%;
    height: auto;
}   

.another-blog-content a img {
    top: 0;
    max-width: 100%;
    height: 470px;
    object-fit: contain;
}

/* hieu ung chuyen background cho bai viet khac */
.another-blog-content h6:hover {
    color: brown;
}

/* rating */
#star-rating {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.star-wrapper {
    direction: rtl;
}

.star-wrapper a {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
}

.star-wrapper a:hover {
    color: brown;
    transform: scale(1.3);
}

.s1:hover ~ a {
    color: brown;
}

.s2:hover ~ a {
    color: brown;
}

.s3:hover ~ a {
    color: brown;
}

.s4:hover ~ a {
    color: brown;
}

.s5:hover ~ a {
    color: brown;
}