.scrollbar {
  overflow-y: scroll; /* Hiển thị thanh cuộn dọc */
  max-height: 100vh;
  /* z-index: 99999; */
  transition: transform 0.2s ease;
}

/* Hiển thị thanh cuộn chỉ khi cuộn trang */
.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: transparent;
}

/* Tùy chỉnh màu sắc và hình dạng của thumb */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

/* Tùy chỉnh màu nền của thanh cuộn */
.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0, 0.8);
}
