.scrollbar1{
    overflow-y: scroll; /* Hiển thị thanh cuộn dọc */
    max-height: 100vh;
    /* z-index: 99999; */
    transition: transform 0.2s ease;
  }

  /* Hiển thị thanh cuộn chỉ khi cuộn trang */
  .scrollbar1::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }
  
  /* Tùy chỉnh màu sắc và hình dạng của thumb */
  .scrollbar1::-webkit-scrollbar-thumb {
    background-color: rgb(246, 205, 183);
    border-radius: 5px;
    /* border: 2px solid #ff8b4b;  */
    height: 1vw;
  }
  
  /* Tùy chỉnh màu nền của thanh cuộn */
  .scrollbar1::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0, 0.8);
  }


 